#parse("/template/base.vm")
#@baseLayout()

<div class="bg-image"></div>

<div class="bg-text">
    <h1>REZULTATI PRETRAGE</h1>
    <h2>Stajalište: $stanica</h2>
    <hr>
    <div>
        <div class="results-grid results-header">
            <div>Vlak:</div>
            <div>Krajnje odredište:</div>
            <div>Kolosijek:</div>
            <div>Dolazak:</div>
            <div>Kašnjenje</div>
        </div>
        <hr>
        <div class="results-grid">
            #foreach($voznja in $voznje)
                <div>$voznja.getOznakaVlak()</div>
                <div>$voznja.getKrajnjeOdrediste()</div>
                <div>$voznja.getKolosijek()</div>
                <div>$voznja.getDatVrijDolaskaFormatted()</div>
                #if($voznja.getKasnjenjeMin() >= 5 && $voznja.getKasnjenjeMin() <= 10)
                    <p style="background-color: yellow; color: black;">$voznja.getKasnjenjeMin()</p>
                #elseif($voznja.getKasnjenjeMin() > 10)
                    <p style="background-color: red;">$voznja.getKasnjenjeMin()</p>
                #elseif($voznja.getKasnjenjeMin() > 0 && $voznja.getKasnjenjeMin() < 5)
                    <p>$voznja.getKasnjenjeMin()</p>
                #else
                    <p>-</p>
                #end
            #end
        </div>
    </div>
</div>
<div class="fixed-top-bar">
    <a class="circle-icon" title="Home" href="/"><span class="material-icons md-light">home</span></a>
    #if($user.getOznakaUloga().equals("A"))
        <a class="circle-icon" title="Postavke" href="/admin"><span class="material-icons md-light">admin_panel_settings</span></a>
    #end
    <a class="circle-icon" title="Odjava" href="/logout"><span class="material-icons md-light">logout</span></a>
</div>
#end