#parse("/template/base.vm")

#@baseLayout()
    <div class="bg-image"></div>
    <div class="bg-text">
        <div class="users">
            <h3>Ime:</h3>
            <h3>Prezime:</h3>
            <h3>E-mail:</h3>
            <h3>Obriši</h3>
        </div>
        <hr>
        <div class="users">
            #foreach ($u in $users)
                <p>$u.getIme()</p>
                <p>$u.getPrezime()</p>
                <p>$u.getEmail()</p>
                #if($u.getEmail() != $user.getEmail())
                    <p><a href="/admin/users/delete/$u.getEmail()"><button class="button">Obriši</button></a></p>
                #else
                    <p><a href="/admin/users/delete/$u.getEmail()"><button hidden class="button">Obriši</button></a></p>
                #end
            #end
        </div>
    </div>
    <div class="fixed-top-bar">
        <a class="circle-icon" title="Home" href="/"><span class="material-icons md-light">home</span></a>
        #if($user.getOznakaUloga().equals("A"))
            <a class="circle-icon" title="Postavke" href="/admin"><span class="material-icons md-light">admin_panel_settings</span></a>
        #end
        <a class="circle-icon" title="Odjava" href="/logout"><span class="material-icons md-light">logout</span></a>
    </div>
#end